{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <section class="text-gray-700 body-font overflow-hidden bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200 pointer-events-none" src="{{ product.image.url }}">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">ALPI MOTIVE</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product.name }}</h1>
            <hr class="h-px my-4 bg-zinc-200 border-0 dark:bg-zinc-200">
            <p class="leading-relaxed">{{ product.description|linebreaksbr|linebreaks }}</p>
            <div class="flex items-baseline mt-4">
              <div class="space-x-2 flex text-sm">
                {% for size in sizes %}
                <label>
                  <input data-size={{size.id}} class="size-update sr-only peer" name="size" type="radio" value="xs" {% if forloop.first %}checked {% endif %}/>
                  <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">{{ size.shortcut }}</div>
                </label>
                {% endfor %}
              </div>
            </div>
            <div class="mt-6 flex items-baseline space-x-2">
              <p>Quantity:<p>
              <input class="h-10 w-16 bg-zinc-200 rounded-md border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" type="number" id="quantity" name="quantity" value="1">
            </div>
            <div class="flex items-baseline mb-6 pb-6 border-b">
            </div>
            <div class="flex">
              <span class="title-font font-medium text-2xl text-gray-900">{{ product.currency.symbol }}{{ product.price }}</span>
              <button data-product="{{product.id}}" data-action="add" class="update-cart flex ml-5 font-semibold text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-zinc-700 rounded-md">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      var smallest_id = {{ smallest_id }}
    </script>
{% endblock %}